<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>festivALL | RINTE 2016/17 T2 Dinis Areias 1120327@isep.ipp.pt</display-name>

    <servlet>
        <servlet-name>BandController</servlet-name>
        <servlet-class>rinte.controller.BandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BandController</servlet-name>
        <url-pattern>/BandController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>rinte.controller.EventController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/EventController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>rinte.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>rinte.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>